@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
	background-image: url("../images/bg.jpg");
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

h1, h2 {
	font-family: sans-serif;
	text-align: center;
	text-shadow: 5px 5px 5px black;
}

h1 {
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 48px;
}

h2 {
	margin-top: 15px;
	font-size: 28px;
}

.cma-table-container {
	font-size: 20px;
	margin-top: 35px;
	width: 98%;
	margin: auto;
}

.cma-table-row {
	display: flex;
}

.cma-table-column {
	background-color: rgba(254,141,103,0.95);
	margin: 2px;
	padding: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cma-id-num{
	/* flex-basis: 4%; */
	width: 40px;
}

.cma-first-name{
	flex-basis: 13%;
}

.cma-last-name{
	flex-basis: 13%;
}

.cma-date-of-birth{
	/* flex-basis: 15%; */
	width: 150px;
}

.cma-phone{
	flex-basis: 15%;
}

.cma-email{
	flex-basis: 10%;
}

.cma-address {
	flex-grow: 2;
	flex-basis: 20%;
}

.cma-header {
	background-color: rgba(251,111,68,1);
	font-weight: bolder;
}

.cma-edit, .cma-delete, .cma-add-entry-column {
	/* flex-basis: 4%; */
	width: 25px;
	text-align: center;
	cursor: pointer;
}

#contactModal {
	width: 500px;
	padding: 10px;
	border-radius: 5px;
	z-index: 99;
	top: 50px;
	position: absolute;
	margin-left: calc(50% - 250px);
	background-color: rgba(251,111,68,1);
}

#contactModal input{
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	border: 3px;
	width: 95%;
}
/* for VALIDATION Fix RED lines in input later !!! */
/* .input-err {
	background-color: red;
} */

#backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 50;
	top: 0;
	left: 0;
}

#newContactSubmitBtn {
	background-color: rgb(47,95,151);
}

#contactModalCancelBtn {
	background-color: rgb(151,47,47);
}

button {
	padding: 15px;
	border-radius: 5px;
	border: none;
	float: right;
	margin: 5px;
	cursor: pointer;
}

button:hover {
	padding: 13px;
}

.disable-modal {
	visibility: hidden;
}

.enable-modal {
	visibility: visible;
}

i {
	pointer-events: none;
}